[
    {kernel, [
        %%% Global logger level
        {logger_level, info},

        %%% Handler configurations
        {logger, [

            {handler, console_handler, logger_std_h, #{
                level => info,
                config => #{
                    type => file,
                    file => "logs/console.log",
                    max_no_bytes => 1073741824,           % 1 gigabyte
                    max_no_files => 10,
                    %% Message Queue Length
                    sync_mode_qlen => 10000,
                    drop_mode_qlen => 15000,
                    flush_qlen => 20000,
                    %% Bursts of Log Requests
                    burst_limit_enable => false,
                    % burst_limit_max_count => 15000,
                    % burst_limit_window_time => 1000,    % milliseconds
                    %% Termination on Overload
                    overload_kill_enable => true,
                    overload_kill_qlen => 20000,
                    overload_kill_mem_size => 2684354560, % 2.5 gigabytes
                    overload_kill_restart_after => 1000   % millisecond
                },
                formatter => {logger_formatter, #{
                    time_designator => $\s,
                    template => [
                        time, " ",
                        "[", level, "] ",
                        pid, "@",
                        mfa, ":",
                        line, " ",
                        msg, "\n"
                    ]
                }}
            }},
            {handler, error_handler, logger_std_h, #{
                level => error,
                config => #{
                    type => file,
                    file => "logs/error.log",
                    max_no_bytes => 1073741824,           % 1 gigabyte
                    max_no_files => 3,
                    %% Message Queue Length
                    sync_mode_qlen => 1000,
                    drop_mode_qlen => 10000,
                    flush_qlen => 15000,
                    %% Bursts of Log Requests
                    burst_limit_enable => false,
                    % burst_limit_max_count => 1000,
                    % burst_limit_window_time => 1000,    % milliseconds
                    %% Termination on Overload
                    overload_kill_enable => true,
                    overload_kill_qlen => 15000,
                    overload_kill_mem_size => 1073741824, % 1 gigabyte
                    overload_kill_restart_after => 1000   % milliseconds
                },
                formatter => {logger_formatter, #{
                    time_designator => $\s,
                    template => [
                        time, " ",
                        "[", level, "] ",
                        pid, "@",
                        mfa, ":",
                        line, " ",
                        msg, "\n"
                    ]
                }}
            }}
        ]}
    ]}
].